@use "../util/" as u;

.wbr-footer {
  background-color: var(--heading-color);
  padding: 15px 10px;

  &__description {
    font-family: u.$font-jura;
    font-size: 20px;
    text-align: center;
    color: var(--text-color-hero-heading);
  }
}
