:root {
  --background-color: #f2f2f2;
  --text-color: rgba(0, 0, 0, 0.7);
  --text-color-hero-heading: #ffffff;
  --heading-color: #8b3a80;
  --second-text-color: #4a4a4a;
  --button-active-color: #eca61f;
}
